In [1]:
import pandas as pd

In [859]:
qc_1 = r'D:\MiCM SUMMER SCHOLARS\SAIGE_S2_NEW_CLSA_EUR_QC_filtered_chr_chr22.txt'

In [860]:
qc_1_df = pd.read_csv(qc_1, sep = '\t')

In [861]:
qc_1_df.rename(columns={'Allele1':'Allele1_'},inplace=True)

In [862]:
qc_1_df.rename(columns={'SNPID':'Allele1'},inplace=True)

In [863]:
qc_1_df.rename(columns={'Allele2':'Allele2_'},inplace=True)

In [864]:
qc_1_df.rename(columns={'Allele1_':'Allele2'},inplace=True)

In [865]:
qc_1_df.rename(columns={'AC_Allele2':'AC_Allele2_'},inplace=True)

In [866]:
qc_1_df.rename(columns={'Allele2_':'AC_Allele2'},inplace=True)

In [867]:
qc_1_df.rename(columns={'AF_Allele2':'ab'},inplace=True)

In [868]:
qc_1_df.rename(columns={'AC_Allele2_':'AF_Allele2'},inplace=True)

In [869]:
qc_1_df.rename(columns={'imputationInfo':'ac'},inplace=True)

In [870]:
qc_1_df.rename(columns={'ab':'imputationInfo'},inplace=True)

In [871]:
qc_1_df.rename(columns={'N':'ab'},inplace=True)

In [872]:
qc_1_df.rename(columns={'ac':'N'},inplace=True)

In [873]:
qc_1_df.rename(columns={'BETA':'abc'},inplace=True)

In [874]:
qc_1_df.rename(columns={'ab':'BETA'},inplace=True)

In [875]:
qc_1_df.rename(columns={'SE':'ab'},inplace=True)

In [876]:
qc_1_df.rename(columns={'abc':'SE'},inplace=True)

In [877]:
qc_1_df.rename(columns={'Tstat':'ac'},inplace=True)

In [878]:
qc_1_df.rename(columns={'ab':'Tstat'},inplace=True)

In [879]:
qc_1_df.rename(columns={'p_value':'ab'},inplace=True)

In [880]:
qc_1_df.rename(columns={'ac':'p_value'},inplace=True)

In [881]:
qc_1_df.rename(columns={'p_value_NA':'ac'},inplace=True)

In [882]:
qc_1_df.rename(columns={'ab':'p_value_NA'},inplace=True)

In [883]:
qc_1_df.rename(columns={'Is_SPA_converge':'ab'},inplace=True)

In [884]:
qc_1_df.rename(columns={'ac':'Is_SPA_converge'},inplace=True)

In [885]:
qc_1_df.rename(columns={'varT':'ac'},inplace=True)

In [886]:
qc_1_df.rename(columns={'ab':'varT'},inplace=True)

In [887]:
qc_1_df.rename(columns={'varTstar':'ab'},inplace=True)

In [888]:
qc_1_df.rename(columns={'ac':'varTstar'},inplace=True)

In [889]:
qc_1_df.drop(['ab','AC_Allele2','AF_Allele2','imputationInfo','Tstat','p_value_NA','Is_SPA_converge','varT','varTstar'], axis=1, inplace=True)

In [890]:
qc_1_df

,CHR,POS,rsid,Allele1,Allele2,N,BETA,SE,p_value
0,22,10516450,chr22:10516450:GT:G,GT,G,25237,-0.046886,0.206964,0.820780
1,22,10519389,chr22:10519389:T:C,T,C,25237,0.337596,0.223888,0.131586
2,22,10665723,chr22:10665723:G:C,G,C,25237,-0.120190,0.138683,0.386131
3,22,10861866,chr22:10861866:G:T,G,T,25237,0.054554,0.140761,0.698339
4,22,11132574,chr22:11132574:T:A,T,A,25237,0.070018,0.135149,0.604403
...,...,...,...,...,...,...,...,...,...
122387,22,50802204,chr22:50802204:CAG:C,CAG,C,25237,-0.052663,0.096834,0.586550
122388,22,50803709,chr22:50803709:T:A,T,A,25237,0.016637,0.082452,0.840095
122389,22,50803843,chr22:50803843:C:G,C,G,25237,0.007781,0.034758,0.822872
122390,22,50804129,chr22:50804129:A:T,A,T,25237,-0.018672,0.040138,0.641792
122391,22,50805809,chr22:50805809:C:T,C,T,25237,0.110695,0.119969,0.356164

In [891]:
qc_1_df.to_csv(r'D:\MiCM SUMMER SCHOLARS\qc_chr22.txt', sep='\t',index = False)

In [897]:
filenames = [r'D:\MiCM SUMMER SCHOLARS\qc_chr1.txt', r'D:\MiCM SUMMER SCHOLARS\qc_chr2.txt']

with open("output_file.txt", "w") as outfile:
    for filename in filenames:
        with open(filename) as infile:
            contents = infile.read()
            outfile.write(contents)
            
    outfile(r'D:\MiCM SUMMER SCHOLARS\qc_chr1-2.txt', sep='\t',index = False)

TypeError: '_io.TextIOWrapper' object is not callable

In [ ]:
'output_file.txt'